@charset "utf-8";
.sp,.spfv{
    display: none;
}
/* メインビジュアル */
.mainVisual{
    text-align: center;
    margin-bottom: 80px;
}
.mainVisual img{
    max-width: none;
    width: 100vw;
    height: auto;
    max-width: 100%;
}
/* リード */
.lead__container{
    width: 85.69%;
    margin: 0 auto;
    border: 1px solid #e9587e;
    border-radius: 10px;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.lead__illust{
    width: 36.99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lead__text{
    width: 52.59%;
}
.check{
    font-weight: bold;
    display: block;
    line-height: 1.5;
}
.check:last-of-type{
    margin-bottom: 20px;
}
.check::before{
    content: "";
    display: inline-block;
    margin-right: 1em;
    background: url(../images/check.png) no-repeat;
    width: 21px;
    height: 16px;
    background-position: top 0 left 0;
}

/* about */
.about__bg{
    background: url(../images/what_bg.png) no-repeat;
    width: 100%;
    height: 0;
    padding-top: 10.9375%;
    background-size: cover;
}
.about{
    background: #fff8fb;
    padding: 80px 0;
}
.about .section__title{
    background: url(../images/what.png) no-repeat;
    background-position: bottom 10px center;
    padding: 20px 0 0 0;
    background-size: contain;
}
.about__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.about__item--1,
.about__item--3{
    flex-direction: row-reverse;
}
.about__img{
    width: 64.44%;
}
.about__wrap{
    width: 28.89%;
}

/* 特長 */
.point .section__title{
    background: url(../images/point.png) no-repeat;
    background-position: bottom 10px center;
    padding: 50px 0 0 0;
}
.point__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.point__item{
    width: 30.83%;
}
.point__wrap{
    padding: 10px 2.5%;
}
.point__num{
    text-align: center;
    margin-bottom: 20px;
}
.point__title{
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}
/* ご利用の流れ */
.flow{
    background: #fff8fb;
}
.flow .section__title{
    background: url(../images/flow.png) no-repeat;
    background-position: bottom 10px center;
    padding: 60px 0 0 0;
}
.flow__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.flow__item{
    width: 15.56%;
    text-align: center;
}
.flow_num{
    text-align: center;
    margin-bottom: 20px;
}
.flow__item dt{
    font-weight: bold;
    margin-bottom: 5px;
}
.flow__item dd{
    text-align: left;
}
.arrow{
    width: 20px;
    height: auto;
    display: inline-block;
    margin: auto 0;
}
.flow__img{
    margin-bottom: 10px;
}


/* 料金 */
.price .section__title{
    background: url(../images/price.png) no-repeat;
    background-position: bottom 10px center;
    padding: 60px 0 0 0;
    background-size: contain;
}
.price .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price__item{
    width: 30.93%;
    text-align: center;
}
.price__item a{
    padding: 20px 2%;
    font-size: 1.25rem;
    display: block;
    background: #ffebf6;
    color: #e9587e;
    box-shadow: 6px 7px 0 #e9587e;
    border-radius: 10px;
    transition: all 0.2s;
    font-weight: bold;
    position: relative;
    border: 1px solid #ffebf6;
    transition: all 0.3s;
}
.price__item a::after { 
    content: "";
    display: block;
    background: url(../images/arrow1.png) no-repeat;
    width: 37px;    
    height: 9px;
    position: absolute;
    top: 40%;
    right: 6%;
  }
.price__item a:hover{
    border: 1px solid #e9587e;
    box-shadow: none;
    transform: translateY(5px);
}
/* 店内イメージ */
.shopimage{
    background: #f3fdff;
}
.shopimage .section__title{
    background: url(../images/shopimage.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 0 0;
    background-size: contain;
}
.shopimage img{
    max-width: none;
    width: 100vw;
    max-width: 100%;
    height: auto;
}
.attention{
    font-size: 0.875rem; /* 14px */
    text-align: right;
}
/* 提携ブランド */
.bland .section__title{
    background: url(../images/bland.png) no-repeat;
    background-position: bottom 10px center;
    padding: 60px 0 0 0;
}
.slider{
    width: 100%;
}
.bland__item{
    margin-bottom: 40px;
}
.bland__item dt{
    margin-bottom: 10px;
}
.bland__item dt img{
    width: 68.67%;
    margin: 0 auto;
}
.bland__item dd{
    text-align: center;
}
.bland__text{
    max-width: 1080px;
    margin: 0 auto;
    font-size: 0.875rem;
    text-align: right;
}

/* アクセス */
.access {
    background: #fff8fb;
}
.access .section__title{
    background: url(../images/access.png) no-repeat;
    background-position: bottom 10px center;
    padding: 60px 0 0 0;
    background-size: contain;
}
.access .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.access__map{
    width: 42.5%;
}
.access__text{
    width: 47.22%;
}
.access__text dt{
    font-weight: bold;
}
.access__text dd:not(:last-of-type){
    margin-bottom: 10px;
}
iframe{
    width: 100%;
    height: 278px;
}
i{
    margin-right: .5em;
    color: #e9587e;
}

/* cta */
.btn__container{
    padding: 80px 0;
}
.btn:first-child{
    margin-bottom: 60px;
}
.btn__container dl{
    text-align: center;
    font-size: 1.25rem;
}
.btn__comment{
    display: inline-block;
    padding: 10px 5%;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #e9587e;
    margin-bottom: 10px;
    position: relative;
}
.btn__comment:before,
.btn__comment:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.btn__comment:before {
    border: solid 12px transparent;
    border-top: solid 15px #e9587e;
}
.btn__comment:after {
    border: solid 14px transparent;
    border-top: solid 14px #fff;
    margin-top: -5px;
}

/* トピックス */
.topics .section__title{
    background: url(../images/topics.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 10px 0;
    background-size: contain;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topics__container a{
    width: 32.22%;
    transition: all 0.4s;
}
.topics__container a:hover{
    transform: scale(1.05, 1.05);
}
.topics__item dl{
    background: #5bcee8;
    color: #fff;
    padding: 10px 5%;
}
.topics__item dt{
    text-align: center;
}
.topics__item dd{
    text-align: right;
}

/* よくある質問 */
.faq{
    background: #fff8fb;
}
.faq .section__title{
    background: url(../images/faq.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 10px 0;
    background-size: contain;
}
.faq .inner{
    width: 70.7%;
}
.faq a{
    color: #e9587e;
    text-decoration: underline;
}
.faq__title{
    font-size: 1.25rem;
    border-bottom: 3px solid #e9587e;
    margin-bottom: 20px;
}
.faq dl{
    margin-bottom: 20px;
}
.question{
    font-size: 1.125rem;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    padding: 20px 10% 20px 58px;
    font-size: 1.125rem;
    position: relative;
    border-radius: 10px;
}
.question.open{
    border-radius: 10px 10px 0 0;
}
.question::before{
    content: "";
    display: block;
    position: absolute;
    top: 22%;
    left: 2%;
    background: url(../images/question.svg) no-repeat;
    width: 39px;
    height: 39px;
}
.question::after{
    content: "";
    position: absolute;
    display: block;
    transition: all 0.2s ease-in-out;
    top: 39%;
    bottom: 0;
    right: 6%;
    width: 7px;    
    height: 7px;  
    border-top: 3px solid #e9587e;    
    border-right: 3px solid #e9587e;   
    transform: rotate(135deg); 
}
.question.open::after {
    transform: rotate(-45deg);
    top: 45%;
}
.answer{
    cursor: pointer;
    padding: 20px 2%;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 39px;
    border-radius: 0 0 10px 10px;
}
.answer p{
    background: #eefdff url(../images/answer.svg) no-repeat;
    background-size: 39px 39px; 
    background-position: top 15px left 39px;
    padding: 20px 3% 20px 10%;
    border-radius: 10px;
}
.answer{
    display: none;
}

@media screen and (max-width: 931px) {
    .pc {
        display: none;
    }
    .sp{
        display: block;
    }
    .point__item>p{
        text-align: center;
    }
    /* 流れ */
    .flow__btn a,.btn a{
        width: 70%;
    }

    /* 料金 */
    .price .inner{
        display: block;
    }
    .price__item{
        width: 80%;
        margin: 0 auto 40px;
    }
    /* アクセス */
    .access .inner{
        display: block;
    }
    .access__text{
        width: 80%;
        margin: 0 auto;
    }
    .access__map{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    iframe{
        width: 100%;
        height: 300px;
    }
    .faq .inner {
        width: 90%;
    }

}
@media screen and (max-width: 768px) {
    .pcfv{
        display: none;
    }
    .spfv{
        display: block;
    }
    /* リード */
    .lead__container {
        display: block;
        padding: 40px 0;
    }
    .lead__illust {
        width: 80%;
        margin: 0 auto 40px;
    }
    .concept__illust{
        width: 60%;
    }
    .lead__text {
        width: 85%;
        margin: 0 auto;
    }
    .lead .section__title{
        margin-bottom: 40px;
    }
    /* point; */
    .about__container{
        padding: 0 5%;
    }
    .about__item {
        display: block;
        margin-bottom: 60px;
    }
    .about__img {
        width: 80%;
    }
    .about__img--1,
    .about__img--3{
        margin: 0 0 40px auto;
    }
    .about__wrap--1,
    .about__wrap--3{
        margin: 0 auto 40px 0;
    }
    .about__img--2{
        margin: 0 auto 40px 0;
    }
    .about__wrap--2{
        margin: 0 0 40px auto;
    }
    .about__wrap {
        width: 70%;
    }
    /* こだわり */
    .point__container {
        display: block;
    }
    .point__item {
        width: 60%;
        margin: 0 auto 40px;
    }
    /* 流れ */
    .flow__container {
        display: block;
    }
    .flow__item {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .arrow {
        margin: 0 auto 40px;
        transform: rotate(90deg);
        display: block;
    }
    /* トピックス */
    .topics__container{
        flex-direction: column;
    }
    .topics__container a{
        width: 48%;
        margin: 0 auto 40px;
    }
}
@media screen and (max-width: 450px){
    .topics__container a{
        width: 80%;
        margin: 0 auto 40px;
    } 
    .faq__title{
        text-align: center;
    }
    .point__item {
        width: 80%;
    }
    .flow__btn a, .btn a {
        width: 90%;
    }
    .flow__btn a, .btn a {
        font-size: 1rem;
    border-radius: 30px;
    }
}
@media screen and (min-width: 1601px){
    .slider{
        width: 60%;
        max-width: 1080px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .bland__item dt{
        text-align: center;
    }
}