@charset "utf-8";

/* トピックス */
.topics .section__title{
    background: url(../images/topics_pink.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 10px 0;
    background-size: contain;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topics__container a{
    width: 32.22%;
    transition: all 0.4s;
    margin-bottom: 60px;
}
.topics__container a:hover{
    transform: scale(1.05, 1.05);
}
.topics__item dl{
    background: #e9587e;
    color: #fff;
    padding: 10px 5%;
}
.topics__item dt{
    text-align: center;
}
.topics__item dd{
    text-align: right;
}
.page{
    color: #fff;
    background: #e9587e;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .topics__container{
        display: block;
    }
    .topics__item {
        margin: 0 auto 40px;
    }
}

/* プライバシーポリシー */
.privacy .section__title{
    background: url(../images/privacy.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 10px 0;
}
.privacy__container {
    width: 80%;
    margin: 0 auto;
}
.privacy__title {
    font-size: 1.25rem;
    display: inline-block;
    border-bottom: 3px solid #e9587e;
    margin-bottom: 10px;
    width: 100%;
  }
  .privacy__title::before {
    content: "■";
    color: #e9587e;
    font-size: 1.5rem;
    margin-right: 0.5em;
  }
  .privacy__text{
      margin-bottom: 20px;
  }
  @media screen and (max-width: 768px){
    .privacy__container {
        width: 90%;
    }
}

/* 会社概要 */
.company .section__title{
    background: url(../images/company.png) no-repeat;
    background-position: bottom 0 center;
    padding: 60px 0 10px 0;
    background-size: contain;
}
.company__container{
    background: #fff8fb;
    width: 55.37%;
    padding: 20px 5% 10px;
    margin: 0 auto;
}
.company__container dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.company__container dt{
    width: 30%;
}
.company__container dd{
    width: 60%;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px){
    .company__container{
        width: 80%;
        margin: 0 auto;
    }
    .company__container dl{
        display: block;
    }
    .company__container dt,
    .company__container dd{
        width: auto;
    }
    .company__container dt{
        font-weight: bold;
    }
    .company__container dd{
        margin-left: 1em;
    }
}

/* レンタルについて */
.rental .section__title{
    background: url(../images/rental/Rental.jpg) no-repeat;
    background-position: bottom 10px center;
    padding: 70px 0 0 0;
}
.rental__point{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 80px;
    text-align: center;
}
.big{
    font-size: 4.5rem;
    color: #e9587e; 
}
.attention{
    font-size: 0.875rem;
}
.rental__wrap{
    width: 70.56%;
    margin: 0 auto 60px;
    border-radius: 10px;
    border: 1px solid #e9587e;
    padding-bottom: 40px;
}
.rental__wrapTitle{
    background: #e9587e;
    color: #fff;
    width: 37.27%;
    text-align: center;
    border-radius: 10px;
    padding: 10px 2%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.rental__wrap dl{
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 44.62%;
    margin: 0 auto;
}
.rental__wrap dt{
    width: 60%;
}
.rental__wrap dd{
    text-align: right;
    width: 40%;
    font-size: 1.75rem;
}
.rental__wrap .underline{
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.rental__wrap .total{
    margin-bottom: 40px;
}
.rental__comment{
    position: relative;
    display: inline-block;
    padding-right: 49px;
}
.center{
    text-align: center;
}
.rental__comment::after{
    content: "";
    position: absolute;
    background: url(../images/rental/bad.jpg) no-repeat;
    width: 42px;
    height: 49px;
    bottom: 0;
    right: 0;
}
.rental__comment--good{
    position: relative;
    display: inline-block;
    padding-right: 49px;
}
.rental__comment--good::after{
    content: "";
    position: absolute;
    background: url(../images/rental/good.jpg) no-repeat;
    width: 42px;
    height: 49px;
    bottom: 0;
    right: 0;
}
.rental__wrap .fz40{
    font-size: 2.5rem;
    color: #e9587e;
}
.arrow{
    text-align: center;
    margin-bottom: 60px;
}
.fz24{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.studio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 77.96%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 140px;
}
.studio__img{
    width: 53.56%;
}
.studio__text{
    width: 53.08%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 5%;
    background: #fff8fb;
    border-radius: 10px;
}
.studio__title{
    color: #e9587e;
    font-size: 1.25rem;
}
.event{
    margin-bottom: 140px;
}
.event__title{
    text-align: center;
    max-width: 1080px;
    font-size: 2rem; /* 32px */
    margin: 0 auto;
    margin-bottom: 80px;
    line-height: 1.2;
    color: #e9587e;
}
.event__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
}
.event__list li{
    width: 29.84%;
}
.cta{
    text-align: center;
    background: url(../images/rental/pattern_03.jpg);
    padding: 80px 0;
}
.cta__comment{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.underpages{
    padding-bottom: 0;
}
@media screen and (max-width: 768px){
    .studio {
        display: block;
    }
    .studio__img {
        width: auto;
        margin: 0 auto 20px;
    }
    .studio__text {
        position: static;
        width: auto;
    }
    .event__list{
        display: block;
    }
    .event__list li{
        width: 50%;
        margin: 0 auto 40px;
    }
    .rental__point{
        line-height: 1.5;
    }
    .rental__wrapTitle{
        width: 70%;
    }
    .rental__wrap dl{
        width: 80%;
    }
}
@media screen and (max-width: 550px){
    .rental__wrap dl{
        display: block;
    }
    .rental__wrap dt,.rental__wrap dd{
        width: auto;
    }
    .rental__wrap{
        width: 85%;
    }
}

/* 料金案内 */
.price .section__title{
    background: url(../images/price/price.png) no-repeat;
    background-position: bottom 10px center;
    padding: 70px 0 0 0;
    margin-bottom: 140px;
}
.price__wrap{
    background: #fff8fb;
    box-shadow: 10px 10px 0 #e9587e;
    position: relative;
    width: 91.67%;
    margin: 0 auto 140px;
}
.price__wrap h3{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.price__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .price__img{
    width: 48.48%;
} */
.price__text{
    padding: 80px 2% 0 0;
    width: 45%;
}
.price__text h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.price__text dl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}
.price__text dt{
    width: 15%;
    text-align: right;
    font-weight: bold;
}
.price__text dd{
    width: 80%;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.num{
    font-size: 3.125rem;
    color: #e9587e;
    border-bottom: 3px solid rgb(255, 208, 0);
}
.price__text .payment{
    font-size: 1rem;
}
.price__text .btn a{
    width: 60%;
}
.right{
    display: block;
    text-align: right;
}
.price__wrap2 dd{
    line-height: 1.2;
}
.price__commennt{
    margin-bottom: 60px;
    font-size: 1.875rem;
    text-align: center;
    position: relative;
}
.price__commennt::before{
    position: absolute;
    content: "";
    background: url(../images/price/price__illust.jpg) no-repeat;
    width: 34px;
    height: 34px;
    top: 0;
    left: 39%;
}
.happy{
    margin-bottom: 140px;
}
.happy h2{
    text-align: center;
    max-width: 1080px;
    font-size: 2rem; /* 32px */
    margin: 0 auto;
    margin-bottom: 80px;
    line-height: 1.2;
    color: #e9587e;
}
.happy__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85.09%;
}
.happy__text{
   font-size: 1.875rem; 
}
.happy__item2{
    flex-direction: row-reverse;
    margin-left: 10%;
}
@media screen and (max-width: 768px){
    .price__wrap{
        width: 62.5%;
    }
    .price__wrap h3{
        min-width: 464px;
    }
    .price__item{
        display: block;
    }
    .price__text{
        width: auto;
        padding: 40px 2%; 
    }
    .happy__item{
        display: block;
        margin-bottom: 60px;
        width: auto;
        text-align: center;
    }
    .happy__img{
        margin-right: 15%;
        margin-bottom: 10px;
    }
    .happy__item2 .happy__img{
        margin-left: 12%;
        margin-right: 0;
    }
    .happy__item2{
        margin-left: 0;
    }
}

/* お問い合わせ */
.contact .section__title{
    background: url(../images/contact.png) no-repeat;
    background-position: bottom 10px center;
    padding: 70px 0 0 0;
    margin-bottom: 140px;
}
.form{
    width: 53.33%;
    margin: 0 auto 140px;
}
input,textarea{
    width: 100%;
    border: 2px solid #e9587e;
    line-height: 2.5;
    padding: 0.5em;
    border-radius: 10px;
}
dt{
    color: #e9587e; 
    font-weight: bold;
}
.form__example{
    color: #999;
}
dl{
    margin-bottom: 20px;
}
input[type="submit"]{
    background-color: #e9587e;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 2%;
}